{% extends "_base.html" %}

{% block main_content %}
    {% with page as post %}
        {% include "blog/_post_meta.html" %}
    {% endwith %}
    
    <div class="post_body">
        {% block post %}
        {% endblock %}
    </div>
    
<script>
var idcomments_acct = '808ce8ad057036ef48ef4def8ba80df0';
var idcomments_post_id;
var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>

    <div class="nav_prev_next">
    {% if page.next %}
        <span style="float:left">
            <a href="{{ page.next.url }}">&lt;-- Next oldest</a>
        </span>
    {% endif %}
    {% if page.prev %}
        <span style="float: right">
            <a href="{{ page.prev.url }}">Next newest --></a>
        </span>
    {% endif %}
    </div>
{% endblock %}