{{ partial "header.html" . }}

<div id="main-content" class="main-content">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">

            {{ range .Paginator.Pages }}
				{{ partial "content.html" . }}
			{{ end }}
		
		</div><!-- #content -->
        <nav class="navigation paging-navigation" role="navigation">
            <div class="pagination loop-pagination">
                {{ partial "pagination.html" . }}
            </div>
        </nav>
	</div><!-- #primary -->
	{{ partial "sidebar.html" . }}
</div><!-- #main-content -->

{{ partial "footer.html" . }}
