{% extends "_base.html" %}

{%hyde
    title: "Index"
    listing: True
%}

{# This template would be better extending _listing, but that one's #}
{# currently tailored to the blog. #}

{% block main_content %}
    <p>This section of the site holds items which I feel have some intrinsic
    value, usually because they represent some sort of generally useful
    knowledge, or if I simply wanted to muse on some topic and took the time
    to format my thoughts more clearly.</p>
    {% for node in page.node.walk %}
    <ul>
        {% for page in node.pages %}
        {% if not page.listing %} {# avoids recursion #}
            <li><a href="{{ page.url }}">{{ page.title }}</a>
            {% render_excerpt page %}
            </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endfor %}
{% endblock %}
