{% extends "_base.html" %}

{%hyde
    title: "Index"
    listing: True
%}

{% block nav_custom %}
    <hr class="break"/>
    <p>Blog archives:<br />&nbsp;
    {% for sub in page.node.walk %}
        {% ifnotequal sub page.node %}
            <a href="{{ sub.url }}">{{ sub.name }}</a>
        {% endifnotequal %}
    {% endfor %}
{% endblock %}

{% block main_content %}

{% recent_posts newest_posts 5 page.node %}
{% for post in newest_posts %}
    {% include "blog/_post_mini.html" %}
{% endfor %}

<p>For more posts, see the archives, linked in the sidebar.</p>
{% endblock %}
