<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Peter Marheine" />
    <!-- What, you expected highly compressed markup? -->
    <link rel="stylesheet" type="text/css" href="{{site.url}}/media/css/base.css" />
    <link rel="icon" type="image/png" href="{{site.url}}/media/img/favicon.png" />
    <link rel="contents" href="#content" />
    <link rel="home" href="/{{site.url}}" />

    {% block page_meta %}
        {% if page.meta_description %}
            <meta name="description" content="{{page.meta_description}}" />
        {% endif %}
        {% if page.meta_keywords %}
            <meta name="keywords" content="{{page.meta_keywords|join:','}}" />
        {% endif %}
    {% endblock %}
    
    <title>
        {% block title %}
            {% if page.title %}
                {{page.title}}
            {% else %}
                {{page.page_name}}
            {% endif %}
            | タリ
        {% endblock %}
    </title>
</head>

<body>
<h1 id="pagehead"><a href="/">
    <!-- aside: setting lang here for the benefit of screen readers and
         friends so nobody tries to pronounce that erroneously -->
    <span lang="ja">
        タリ
        <!-- For the non-Japanese reader, pronounce as tɑːriː (IPA) -->
    </span>
    <span id="tagline">
        {% load tagline %}
        {% r_tagline %}
    </span>
</a></h1>

<div id="location">
<!-- breadcrumbs -->
<!-- Cyprinus carpio < Cyprinidae < Cypriniformes < Actinopterygii <
     Chordata < Animalia ... -->
    <a href="#content">
        {% if page.title %}
            {{page.title}}
        {% else %}
            {{page.page_name|unslugify}}
        {% endif %}
    </a>
    {% for n in page.node.ancestors reversed %}
        {% with n.url|length_is:"0" as is_root %}
            &lt; <a href="
                {% if is_root %}
                    /">{{n.name}}
                {% else %}
                    {{n.url}}">{{n.name|unslugify}}
                {% endif %}</a>
        {% endwith %}
    {% endfor %}
</div>

<div id="content">
    <div id="navi">
        <div id="navlinks">
            <table style="width: 100%">
                <tr>
                    <td><a href="/">Home</a></td>
                    <td class="right"><a href="/about.html">About</a></td>
                </tr>
                <tr>
                    <td><a href="/blog/">Blog</a></td>
                    <td class="right"><a href="/projects/">Projects</a></td>
                </tr>
                <tr>
                    <td><a href="/muse/">Muse</a></td>
                    <td class="right"><a href="/contact.html">Contact</a></td>
            </table>
        </div>
        {% if page.contents %}
            <hr class="break"/>
            <h2>Contents</h2>
            {% load unordered_list_a %}
            <ul>{{ page.contents|unordered_list_a }}</ul>
        {% endif %}
        
        {% block nav_custom %}
        {% endblock %}
    </div>
    
    {% block main_content %}
    {% endblock %}
    
    {{ contents }}
</div>

<div id="footer">
    Contents &copy; {% now "Y" %} Peter Marheine, last generated  {% now "Ymd\THisO" %}.
    <!-- ISO 8601 date format, for the interested reader -->
</div>
</body>
</html>