
{# Insert a heading for this node #}
{% ifnotequal node page.node %}
    {% if node.has_listing %}
        <a href="{{ node.listing_url }}">
    {% endif %}
    <h2>{{ node.name|unslugify }}</h2>
    {% if node.has_listing %}
        </a>
    {% endif %}
{% endifnotequal %}

{# List pages #}

{% recent_posts recents 5 node %}
{{ recents }}

{% comment %}{% for list_page in recent_posts %}
    {% ifnotequal list_page node.listing_page %}
        {% if list_page.display_in_list %}
            {% with list_page as post %}
                {% include "blog/_post_meta.html" %}
            {% endwith %}
        {% endif %}
    {% endifnotequal %}
{% endfor %}{% endcomment %}
