{% extends "blog/_post.html" %}

{%hyde
    title: Of Links and Kana
    created: 2011-03-31
%}

{% block post %}

{% markdown %}
{% excerpt %}

I sometimes use [Links](http://links.twibright.com/) on various computers
when I can't be bothered to deal with a full graphical environment and just
want to look something up.  Given I also try to ensure that this site renders
in an acceptable manner in text-only mode, Links is indispensable at times.

Now imagine my surprise when I discovered that Links will try to translate
Japanese [kana](http://en.wikipedia.org/wiki/Kana) (a general term for the
scripts in which characters correspond to syllables, rather than more abstract
ideas such as in kanji) to some extent:

<div class="fbox">
<img alt="Links displaying this page" src="/media/img/blog/2011/links-kana.png" />
<br />See page header at top
</div>

In that shot, Links has translated the kana in my page's header to a reasonable
romanization- the pronounciation of those characters would be Tari, as in the
beginnings of 'tan' and 'return'.  I don't know if that was a recent feature
(I'm currently running Links 2.3pre1), but it was a pleasant surprise to see
it romanizing kana.

{% endexcerpt %}

{% endmarkdown %}
{% endblock %}
