{% extends "blog/_post.html" %}

{%hyde
    title: "mkg3a"
    created: 2011-05-02
    excerpt_only: True
%}

{% block post %}
{% markdown %}

{% excerpt %}
<!-- General Apathy: sends your hopes and dreams to senseless deaths in the
name of the military-industrial complex. -->

Casio's [FX-CG](http://www.casioeducation.com/prizm), or Prizm, is a rather
interesting device, and the programmers over on
[Cemetech](http://www.cemetech.net/) seem to have found it worthwhile to make
the Prizm do their bidding in software.

The Prizm device itself is based around some sort of SuperH core, identified
at times in the system software as a SH7305.  No such device appears in the
family documentation provided by Renesas, but others report it's some sort of
[SH4](http://www.renesas.com/products/core_license/cpu_cores/child_folder/sh4_child.jsp)
(I'd speculate it to be a SH4-400 core on a Casio-developed ASIC).  Whatever
the case, GCC targeted for sh and compiling without the FPU (-m4a-nofpu) and
in big-endian mode (-mb) seems to work on the hardware provided.

Between [Jonimus](http://jonimoose.net) and myself (with input from other
users on what configurations will work), we've assembled a GCC-based toolchain
targeting the Prizm.  Jon put together a cross-compiler for sh with some
supporting scripts, while I
contributed a linker script and runtime initialization routine (crt0), both of
which were adapted from [Kristaba's](https://github.com/Kristaba) work.

With that, we can build binaries targetting sh and linked such that they'll
run on the Prizm, but that alone isn't very useful.  Jon also created 
[libfxcg](https://github.com/Jonimoose/libfxcg), a library providing access
to the syscalls on the platform.  Finally, I created [mkg3a](/projects/mkg3a),
a tool to pack the raw binaries output by the linker into the g3a files
accepted by the device.

Rumor has it the whole set of tools works.  I haven't been able to verify that
myself since I don't have a Prizm of my own, but it's all out there.  Tarballs
of the whole package are over on
[Jon's site](http://jonimoose.net/calcstuff/prizm/), for anyone interested.

{% endexcerpt %}

{% endmarkdown %}
{% endblock %}
