{% extends "blog/_post.html" %}

{%hyde
    title: "Muse"
    excerpt_only: True
    created: 2011-09-29
%}

{% block post %}
{% markdown %}

{% excerpt %}

I finally now got around to implementing something (anything!) in the
<a href="/muse/">Muse</a> section on this site.  Hopefully more material will
trickle into there in the coming times as I move more ramblings, musings, and
general useful information into there.

{% endexcerpt %}

More in-depth parts which appear only on the detail page.

{% endmarkdown %}
{% endblock %}
