{% extends "_base.html" %}
{% hyde
    title: Contact form
    display_in_list: False
%}

{% block main_content %}
{% markdown %}

Work in progress, sorry.

Email me: pe<span style="display:none">garbage-text</span>ter
          [A<span style="display:none">spam-me</span>T] taricorp
          [DOT] <span style="display:none">i-dare-you</span>net
<!-- Rather silly obfuscation, I admit.
     Also breaks in elinks, probably others, so a proper contact form is very
     much a TODO sort of thing. -->

{% endmarkdown %}
{% endblock %}