html { 
    padding: 0;
    margin: 0;
}
body {
    background-color: #e1ddd9;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    color: #564b47;
    margin: 0 auto 0 auto;
    max-width: 75em;
    min-width: 40em;
}

#pagehead {
    margin: 0;
    padding: 0 0 4pt 0;
}
#pagehead a {
    text-decoration: none;
}
#tagline {
    margin-left: .5em;
    font-size: 50%;
}

div.cleanborder {
    border: 1px solid #564b47; 
}
#location {
    text-align: right;
    padding: .25em 1em .25em 0;
    overflow: hidden;
    border-top-left-radius: .25em;
    border-bottom-style: none;
    color: #564b47;
    background-color: #9d9587;  /* .org $9D93 \ .db $bb,$6d */
}
#location a {
    color: #1f1b19;
    text-decoration: none;
}
#location a:hover {
    color: #49413c;
}

#content {
    border-top-style: none;
    background-color: #fff;
    overflow: hidden;
    padding-top: .5em;
}

#navi {
    float: right;
    width: 14em;
    background-color: #c4cad4;
    padding-bottom: .3em;
    border-radius: 0 .75em .75em 0;
}

#navi #navlinks {
    font-size: 1.1em;
    margin: .25em 1.25em;
}
#navi #navlinks a {
    text-decoration: none;
}
#navi #navlinks a:hover {
    text-decoration: underline;
}

#navi .break {
    margin: .25em auto .25em 1em;
    border: 0;
    height: 1pt;
    background-color: #564b47;
    width: 75%;
}
#navi a {
    color: #463b37;
}
#navi a:hover {
    text-decoration: none;
}
#navi p {
    padding: 0 1em .1em;
}
#navi ul {
    padding-left: 0.75em;
}

.fbox {
    background-color: #DDDDDD;
    clear: left;
    margin: 0 1em .4em;
    padding: .4em;
    border-radius: .25em;
    display: inline-block;
}

.fbox img {
    border: 1px solid black;
}

.fbox pre {
    margin: 0;
    padding: .25em;
    border: 1px dashed black;
    background-color: white;
    color: black;
    overflow: auto;
}

.fbox p, ul, ol {
    padding: 0;
    margin-left: .25em;
}

.fleft {
    float: left;
}
.fright {
    float: right;
}

p, ul, ol{
    margin: 0;
    padding: 0 1.5em .75em 1em;
}
h2, h3 {
    margin: 0;
}
h2 {
    padding: .2em 1em .25em .5em;
}
h3 {
    padding: 0 1.5em .1em 1em;
}
ul {
    margin: 0;
    padding: 0 1.5em .3em;
    list-style-position: inside;
}
a {
    color: #463b37;
}
a:hover {
    text-decoration: none;
}

#footer {
    padding: 0 0 1em .5em;
    font-size: 75%;
}
.nav_prev_next {
    font-size: 75%;
}
.nav_prev_next span {
    padding: .1em .25em .1em .5em;
}

.right {
    text-align: right;
}

.post_meta h2 {
    padding-bottom: 0;
}
.post_meta p {
    font-size: 75%;
    margin-left: 1em;
}

.post_body {
    border-bottom: 1px solid #C4CAC4;
}
.post_more {
    float: left;
    background-color: #C4CAC4;
    border-top-right-radius: .4em;
    padding: .1em .25em;
}
.post_comments {
    float: right;
    background-color: #C4CAC4;
    border-top-left-radius: .4em;
    padding: .1em .25em;
}

/* Intense Debate styling overrides */
#idc-container-parent #idc-container {
    margin: .25em 1em;
}
#idc-container .idc-id {
    display: none
}
