---
layout: default
---
<div class="post">
    <header class="post-header">
        <h1 class="post-title"><a href="">{{ page.title }}</a></h1>
        <p class="post-meta">
            {{ page.date | date: site.date_format }}
            {% if page.author %} &middot; {{ page.author }} {% endif %}
            {% if page.meta %} &middot; {{ page.meta }} {% endif %}
        </p>
    </header>

    <article class="post-content">
        {{ content }}
    </article>

    <footer class="post-footer">
        {% comment %} {% include post/categories.html %} {% endcomment %}
        <div id="archives-links">
            {% if page.previous.url %}
            <a href="{{ page.previous.url }}" title="Previous post: {{ page.previous.title }}">
                &larr; {{ page.previous.title }}
            </a>
            {% endif %}
            {% if page.previous.url or page.next.url %}
            &middot; Archives &middot;
            {% endif %}
            {% if page.next.url %}
            <a href="{{ page.next.url }}" title="Previous post: {{ page.next.title }}">
                {{ page.next.title }} &rarr;
            </a>
            {% endif %}
        </div>
    </footer>
</div>

{% unless page.sidebar == false %}
<aside class="sidebar">
{% for template in site.sidebar %}
{% include {{template}}.html %}
{% endfor %}
</aside>
{% endunless %}
